$purple: #913087 !default;
$cornflower: #278ad7 !default;
$robin-egg: #01c5df !default;
$chocko: #2d2e30 !default;

$grey-dark: #737373 !default;
$grey: #b4b4b4 !default;
$grey-light: #dcdcdc !default;

$dark: #303030 !default;
$blue: #1f88d9 !default;

$dashboard-navbar: #334750;
$tab-navbar: #dae2e5;
$dashboard-color: #fff;

$bg-color: #f7f7f7;

// backgrounds
$bg-chocko: $chocko !default;

// buttons
$button-default: $purple !default;
$brand-primary: $cornflower !default;

// count points
$count-points-color: $purple !default;

// checkbox and radio
$checkbox-bg: $cornflower !default;
$radio-bg: $cornflower !default;

// inputs
$input-color: $grey !default;

// text
$text-color: $dark !default;

//tags
$tag-bg: $purple !default;
$tag-color: #fff;
$tag-border-radius: 3px;

// separators
$separator-h-bg: #f5f5f5;
$separator-h-bg-dark: #e6e6e6;

$separator-h-size: 1px;
$separator-h-margin: 30px 0;

$separator-price: #e2e7eb;

// uploader
$uploader-color: #cdcdcd;

// calender
$cal-inactive-bg: #e6e6e6;
$cal-inactive-color: #b4b4b4;

$cal-available-bg: #9ad3ff;
$cal-available-color: #ffffff;

$cal-booked-bg: #6a95bf;
$cal-booked-color: #ffffff;

$cal-margin: 5px 0;

// tooltip
$tooltip-arrow-color: #c1c1c1;
$tooltip-bg: #c1c1c1;

