{% import 'macros/chart.twig' as chart %}

<a class="act04" href="dashboard_offers_a-offer">

<div class="offer">
    <div class="row middle-row-xs">
        <div class="col-xs-2 col-avatar text-center middle-col">
            <div class="avatar border">
                <img src="/moowgly/img/dev/avatar.png" alt="Michael Keller">
            </div>
        </div>
        <div class="col-xs-3 user middle-col">
            <span class="user-name">
                Paleontology guided tour
            </span>
            <span class="user-address mt-5">
                Munich, Germany
            </span>
        </div>
        <div class="col-xs-3 term middle-col">
            16 Sep - 17 Sep
        </div>

        <div class="col-xs-2 places middle-col">
            10 places
        </div>
        <div class="col-xs-3 chart middle-col">
            {{ chart.circle(0) }}
            <span class="percent">0%</span>
        </div>
    </div>
</div>

</a>
