{% extends 'layouts/dashboard.twig' %}

{% block content %}

    <h2 class="status-title"><i class="status-open"></i> Reviews about your kids</h2>

    <div class="reviews">
        {% include './dashboard/reviews/partials/review-kids.twig' %}
    </div>

    <h2 class="status-title mt-30"><i class="status-history"></i> Reviews you left on hosts</h2>

    <div class="reviews">
        {% include './dashboard/reviews/partials/review-host.twig' %}
        {% include './dashboard/reviews/partials/review-host.twig' with {answer: true} %}

        {% include './dashboard/reviews/partials/review-host.twig' %}
        {% include './dashboard/reviews/partials/review-host.twig' with {answer: true} %}
    </div>

{% endblock %}
