<div class="pagination">
    <a href="" class="prev"></a>
    <ul>
        <li class="current"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
    </ul>
    <a href="" class="next"></a>
</div>