<div class="price-box text-grey-dark text-center">
    <div class="price-desc-box">
        <span class="price-per-day"><span class="per-day">14€</span> /day</span>
        <span class="price-desc">14 x 7 days</span>
    </div>
    <span class="price-sum">98 €</span>
</div>
