<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>teamcraft</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#009661">
        <meta name="apple-mobile-web-app-status-bar-style" content="#009661">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="./css/app.min.css">
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container-fluid">

          <div class="header row">
            <nav class="navbar navbar-teamcraft navbar-fixed-top">
                <div class="navbar-header pull-left">
                  <a class="navbar-brand" href="#">Logo</a>
                </div>
                <div class="navbar-container">

                  <div class="navbar-search pull-left">
                    <form>
                      <div class="form-group" id="navbar-search">
                        <i class="fa fa-search search-icon"></i>
                        <input type="text" class="form-control js-company-search" placeholder="Rechercher un projet, contributeur...">
                      </div>
                    </form>
                  </div>

                  <div class="menu-nav pull-left">
                    <div class="user-info">
                      <p>
                        <strong>Paul Marchand</strong><br/>
                        <span>Responsable de projet</span>
                      </p>
                    </div>

                    <a href="#" class="item">
                      <i class="fa fa-bell"></i>
                    </a>

                    <a href="#" class="item">
                      <i class="fa fa-cogs"></i>
                    </a>

                    <a href="#" class="item">
                      <i class="fa fa-sign-out"></i>
                    </a>

                  </div>
                </div>
                <div class="burger hide"><i class="fa fa-bars fa-2x"></i></div>
            </nav>
          </div>

          <div class="row">
            <div class="sidebar">

              <div class="item active">
                <a href="#">
                  <i class="fa fa-dashboard"></i><br/>
                  <span class="item-text">Résumé</span>
                </a>
              </div>

              <div class="item">
                <a href="#">
                  <i class="fa fa-folder-open"></i><br/>
                  <span class="item-text">Projets</span>
                </a>
              </div>

              <div class="item">
                <a href="#">
                  <i class="fa fa-users"></i><br/>
                  <span class="item-text">Contributeurs</span>
                </a>
              </div>

              <div class="item">
                <a href="#">
                  <i class="fa fa-calendar"></i><br/>
                  <span class="item-text">Staffing</span>
                </a>
              </div>

              <div class="item">
                <a href="#">
                  <i class="fa fa-bar-chart"></i><br/>
                  <span class="item-text">Budget</span>
                </a>
              </div>

              <div class="item">
                <a href="#">
                  <i class="fa fa-clock-o"></i><br/>
                  <span class="item-text">Planning</span>
                </a>
              </div>

              <div class="item">
                <a href="#">
                  <i class="fa fa-file-text-o"></i><br/>
                  <span class="item-text">Reporting</span>
                </a>
              </div>

            </div>
          </div>
