.flag-lang {
  display: inline-block;
  height: 27px;
  width: 40px;
  vertical-align: middle;
  background-size: cover;
  background-position: center;

  @include sub_extend('ben'){
    background-image: img('flags/belgium.png');
  }

  @include sub_extend('zho'){
    background-image: img('flags/china.png');
  }

  @include sub_extend('fra'){
    background-image: img('flags/france.png');
  }

  @include sub_extend('ger '){
    background-image: img('flags/germany.png');
  }

  @include sub_extend('ita'){
    background-image: img('flags/italy.png');
  }

  @include sub_extend('jpn'){
    background-image: img('flags/japan.png');
  }

  @include sub_extend('por'){
    background-image: img('flags/portugal.png');
  }

  @include sub_extend('rus'){
    background-image: img('flags/russia.png');
  }

  @include sub_extend('spa'){
    background-image: img('flags/spain.png');
  }

  @include sub_extend('swe'){
    background-image: img('flags/sweden.png');
  }

  @include sub_extend('eng'){
    background-image: img('flags/unitedKingdom.png');
  }

  @include sub_extend('usa'){
    background-image: img('flags/usa.png');
  }
}