.avatar {
  border-radius: 50%;
  display: inline-block;

  &.border {
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
  }

  img {
    border-radius: 50%;
    max-width: 100%;
    width: 50px;
    max-height: 50px;

    &.px-150 {
      width: 150px;
      max-height: 150px;
    }

    &.px-120 {
      width: 120px;
      max-height: 120px;
    }
  }
}

.user-name {
  display: block;
  font-weight: bold;
  color: $grey;

  &.dark {
    color: $grey-dark;
  }
}

.user-address {
  display: block;
  color: $grey;
  font-style: italic;

  &.dark {
    color: $grey-dark;
  }
}