<div class="review {{ answer ? 'answer' : '' }}">
    <div class="row middle-row-xs">
        {% if  answer %}
            <div class="col-xs-2 middle-col"></div>
        {% endif %}

        <div class="col-xs-2 col-avatar text-center middle-col">
            <div class="avatar">
                <img src="/moowgly/images/Femme2.jpg" alt="Joséphine Grandet">
            </div>
            <div class="user-name mt-5">
                Joséphine
            </div>
        </div>

        <div class="col-xs-{{ answer ? '8' : '10' }} middle-col">
            <p>It was a pleasure to stay at this place because of a great location in Paris but as well a great welcome and friendly family that did all to make my child and I very comfortable. I did stay 2 nights and left my child age of 12 for 5 more days than they escort him to bus station where he came back alone. The Ospanis family taught us many things on French tastes and cultures but as well shared their life experience in building construction and infrastructure and as well very interesting information in relation to clinic and medical affairs.</p>
            <span class="date">August 9, 2016</span>
        </div>

        <div class="col-xs-1 middle-col"></div>
    </div>
</div>