<div class="review">
    <div class="row middle-row-xs">
        <div class="col-xs-2 text-center middle-col">
            <div class="avatar">
                <img src="/moowgly/img/dev/avatar.png" alt="Michael Lambard">
            </div>
            <div class="user-name mt-5">
                Michael
            </div>
        </div>
        <div class="col-xs-8 middle-col">
            <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis. </p>
            <span class="date">August 9, 2016</span>
        </div>
        <div class="col-xs-2 middle-col col-kid text-center">
            <div class="avatar">
                <img src="/moowgly/img/dev/elodie.jpg" alt="Elodie">
            </div>
            <div class="user-name mt-5">
                Elodie
            </div>
        </div>
    </div>
</div>