<div class="wrapper header bg-white">
    <header class="container become-host">
        <div class="row">
            <div class="col-md-2 logo-col text-center-md">
                {% include './layouts/header/common/logo.twig' %}
            </div>
            <div class="col-md-10 nav-col text-center">
                {% include './components/count-points.twig' %}
            </div>
        </div>
    </header>
</div>