{% extends 'layouts/guest.twig' %}
{% import 'macros/forms.twig' as forms %}
{% import 'macros/notification.twig' as notification %}

{% block notification %}

    {% set reactions %}
        <a href="" class=" btn btn-primary width-auto">Action</a>
        <a href="" class=" btn btn-primary btn-primary-border width-auto text-grey-dark">Action</a>
    {% endset %}
    {{ notification.alertBig('a test alefrt with a messagdfd', 'info', reactions) }}

{% endblock %}

{% block content %}

    {% set reaction %}
        <a href="" class=" btn btn-primary width-auto pull-right">See</a>
    {% endset %}
    {{ notification.alert('a test allert message', 'default', reaction) }}

    <div class="mt-15">
        {% set reaction %}
            <a href="" class=" btn btn-primary width-auto pull-right">Read</a>
        {% endset %}
        {{ notification.alert('a new message', 'default', reaction) }}
    </div>

{% endblock %}
