<div class="filter-form text-grey">
    <span>Sort by:</span>

    <ul>
        <li><button type="button"><i class="filter-icon-distance"></i></button></li>
        <li><button type="button"><i class="filter-icon-cost"></i></button></li>
        <li><button type="button"><i class="filter-icon-rating"></i></button></li>
    </ul>
</div>