{% import './macros/rating.twig' as rating %}

<a href="host-card_host-card-actrequest">

<div class="result result-activity box light mb-15">
    <div class="row middle-row-lg">

        <div class="col-lg-5 col-md-12 col-user text-left-lg text-center-md text-grey-dark middle-col clearfix">
            <div class="row middle-row">
                <div class="col-md-6 middle-col">
                    <div class="avatar border">
                        <img src="/moowgly/img/dev/avatar.png" alt="Michael Keller">
                    </div>
                </div>
                <div class="col-md-6 middle-col">
                    <span class="user-name dark display-block">
                        <strong>Chinese lessons</strong>
                    </span>
                    <span class="dark mt-5 display-block">
                        Michael Keller
                    </span>
                    <span class="user-address dark mt-5 display-block">
                        Munich, Germany <i class="icon-marker"></i>
                    </span>
                </div>
            </div>

        </div>

        <div class="col-lg-5 col-xs-6 mt-md-30 col-desc text-grey text-center middle-col">
            <div>Wednesday</div>
            <div>16:00 - 18:00</div>
            <div>For 2 kids</div>
        </div>

        <div class="col-lg-2 col-xs-6 mt-md-50 middle-col">
            <div class="price-box text-grey-dark text-center">
                <span class="text-big text-blue">Your gain</span>
                <span class="price-per-day text-blue"><span class="price-sum">20€</span>/hour</span>
            </div>
        </div>

    </div>
</div>

</a>