{% import './macros/rating.twig' as rating %}

<a href="host-card_host-card-activity">

<div class="result result-activity box light mb-15">
    <div class="row middle-row-lg">

        <div class="col-lg-5 col-md-12 col-user text-left-lg text-center-md text-grey-dark middle-col clearfix">
            <div class="row middle-row">
                <div class="col-md-6 middle-col">
                    <div class="avatar border">
                        <img src="/moowgly/images/Femme4.jpg" alt="Claudine Muel">
                    </div>
                </div>
                <div class="col-md-6 middle-col">
                    <span class="user-name dark display-block">
                        <strong>Conference on paintings in the Louvre</strong>
                    </span>
                    <span class="dark mt-5 display-block">
                        Claudine Muel
                    </span>
                    <span class="user-address dark mt-5 display-block">
                        Paris, France <i class="icon-marker"></i>
                    </span>
                </div>
            </div>

        </div>

        <div class="col-lg-5 col-xs-6 mt-md-30 col-desc text-grey text-center middle-col">
            <div>02 September 2017</div>
            <div>to 13 September 2017</div>
            <div class="mt-15 text-big">
                <span class="text-blue text-biggest text-bold">1</span>
                places available
                <span class="text-biggest">/ 4</span>
            </div>
        </div>

        <div class="col-lg-2 col-xs-6 mt-md-50 middle-col">
            <div class="price-box text-grey-dark text-center">
                <span class="price-sum">65 €</span>
            </div>
        </div>

    </div>
</div>

</a>
