{% import 'macros/notification.twig' as notification %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include './layouts/common/head.twig' %}
</head>
<body class="bg-grey-light">
{% include './layouts/common/modals.twig' %}

{% include './layouts/common/pages.twig' %}

<div id="page">
    {% include './layouts/header/host-card.twig' %}
    {% include './layouts/common/head-slider-host.twig' %}
    {% include './layouts/common/notification.twig' with {notification: block('notification')} %}

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-4">
                {% include 'host-card/common/sidebar.twig' %}
            </div>
            <div class="col-md-7 col-lg-8 content content-sidebar-left">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% include './layouts/footer/footer.twig' %}

{% include './layouts/common/scripts.twig' %}
</body>
</html>