<div class="row">
    <div class="col-lg-10 col-lg-offset-2 legend text-grey">
        <div><i class="available"></i> Available</div>
        <div class="mt-5"><i class="booked"></i> Booked</div>
        <div class="mt-5"><i class="unavailable"></i> Unavailable</div>

        <button type="button" class="btn btn-primary mt-35 width-full-md">Change</button>
        <button type="button" class="btn btn-primary-border mt-10 width-full-md">Reset</button>
    </div>
</div>