<label class="mb-10">Availability:</label>
<label class="help-block">you can now register your availability on the calendar</label>

<div class="row mt-70 mt-sm-20 mb-sm-40">
    <div class="col-md-10 col-md-offset-2 legend text-grey">
        <div><i class="available"></i> Available</div>
        <div class="mt-10 mt-sm-5"><i class="unavailable"></i> Unavailable</div>

        {#<button type="button" class="btn btn-primary-border mt-35 width-full-sm">Okay</button>#}
    </div>
</div>