<div class="calender-nav short text-uppercase">
    <div class="row">
        <div class="col-xs-3 text-left">
            <button type="button" class="prev"></button>
        </div>
        <div class="col-xs-6 text-center current">
            Aug/sep 2017
        </div>
        <div class="col-xs-3 text-right">
            <button type="button" class="next"></button>
        </div>
    </div>
</div>