<div class="calender-nav text-uppercase">
    <div class="row">
        <div class="col-xs-3 text-left">
            <button type="button" class="prev">August</button>
        </div>
        <div class="col-xs-6 text-center current">
            September 2016
        </div>
        <div class="col-xs-3 text-right">
            <button type="button" class="next">October</button>
        </div>
    </div>
</div>