<div class="row">
    <div class="col-lg-9 col-lg-offset-3 col-md-8 col-md-offset-4 content-sidebar-left" >
        <nav class="navbar navbar-profile">
            <div class="row">
                <div class="navbar-collapse" id="bs-tab-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="{{ menuActive('guest_profile_profile') }}"><a href="guest_profile_profile">Personal infos <span class="sr-only">(current)</span></a></li>
                        <li class="{{ menuActive('guest_profile_kids') }}"><a href="guest_profile_kids">Kids</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    </div>
</div>