<div class="dropdown dropdown-moo">
    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <img src="/moowgly/img/dev/avatar.png" alt="" class="avatar">
        Michael
        <span class="icon-caret-small pull-right"></span>
    </button>
    <ul class="dropdown-menu text-left">
        <li><a class="btn btn-link" href="guest_dashboard">Dashboard Guest</a></li>
        <li><a class="btn btn-link" href="dashboard_dashboard">Dashboard Host</a></li>
        <li><a class="btn btn-link" href="dashboard_profile_profile">Profile</a></li>
        <li><a class="btn btn-link" href="#">Bookings <i class="badge badge-blue">2</i></a></li>
        <li><a class="btn btn-default sign-out" href="#">Sing out</a></li>
    </ul>
</div>
