<a href="/moowgly/guest-card_guest-card">
<div class="booking marker marker-{{ status }}">
    <div class="row middle-row-lg">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 middle-col">
            <div class="avatar border">
                <img src="/moowgly/images/Femme4.jpg" alt="Louise Lebrun">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 mt-md-5 col-xs-9 middle-col user-col clearfix">

            <div class="row">
                <div class="col-xs-6 col-sm-12">
                    <span class="user-name">
                        Louise Lebrun
                    </span>
                        <span class="user-address mt-5">
                        Paris, France <i class="icon-marker"></i>
                    </span>
                </div>
                <div class="col-xs-6 col-sm-12">
                    <div class="mt-10 mt-xs-0">
                        {{ rating.ball(3) }}
                    </div>
                    <div class="">
                        {{ rating.star(3.5) }}
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-8 middle-col mt-xs-20 text-center info-col clearfix">

            <div>
                <span class="month">October</span>
                <span class="day">28</span>
                <span class="separator">-</span>
                <span class="month">November</span>
                <span class="day">3</span>
            </div>

            <div class="mt-5">
                <span class="days">7 days</span>
            </div>

        </div>
        <div class="col-lg-2 col-sm-5 middle-col col-xs-12 mt-md-10 mt-sm-20 mt-xs-20 text-center-md clearfix">
            <button type="button" class="btn btn-primary-border width-full-xs">Contact</button>
        </div>
    </div>
</div>
</a>
