<div class="wrapper footer bg-chocko mt-45" id="footer">
    <footer class="container">
        <div class="row mt-45 mb-45">

            <div class="col-sm-4 col-md-3 col-md-offset-3 col-xs-6">
                <article>
                    <h4 class="text-white mb-10">Social</h4>
                    <ul class="text-grey list">
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Twitter</li>
                    </ul>
                </article>
            </div>

            <div class="col-sm-4 col-md-3 col-xs-6">
                <article>
                    <h4 class="text-white mb-10">Policy</h4>
                    <ul class="text-grey list">
                        <li>Terms</li>
                        <li>Privacy</li>
                        <li>Site Map</li>
                    </ul>
                </article>
            </div>

            <div class="col-sm-4 col-md-3 col-xs-6">
                <article>
                    <h4 class="text-white mb-10">Moowgly</h4>
                    <ul class="text-grey list">
                        <li>About us</li>
                        <li>Press</li>
                        <li>Contact</li>
                    </ul>
                </article>
            </div>

        </div>
    </footer>
</div>
