<title>Moowgly</title>

<link rel="icon" type="image/png" href="/moowgly/img/favicon.png">
<link rel="stylesheet" type="text/css" href="/moowgly/css/main.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">


<script>
    window.bind = (window.addEventListener || window.attachEvent);
</script>

<script id="__bs_script__">//<![CDATA[
    // document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.8'><\/script>".replace("HOST", location.hostname));
    //]]></script>
