<div class="btn-group" style="position: absolute;">
    <button type="button" style="min-width: 0;" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        pages <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="/moowgly/page/home_home">home</a></li>
        <li><a href="/moowgly/search-results_search-results-stay">search results</a> <a href="/moowgly/page/search-results_search-results-stay">page/search results</a></li>
        <li><a href="/moowgly/search-results_search-results-stay">search results activity</a> <a href="/moowgly/page/search-results_search-results-activity">page/search results activity</a></li>
        <li><a href="/moowgly/page/payment">payment</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Auth</li>
        <li><a data-toggle="modal" data-target="#login-modal">login</a> </li>
        <li><a data-toggle="modal" data-target="#recover-password-modal">recover password</a> </li>
        <li><a data-toggle="modal" data-target="#register-modal">register</a> </li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Become a host</li>
        <li><a href="/moowgly/become-host_start?point=0">start</a></li>
        <li><a href="/moowgly/become-host_housing?point=1">housing</a></li>
        <li><a href="/moowgly/become-host_family_family?point=2">family</a></li>
        <li><a href="/moowgly/become-host_activities?point=3">activities</a></li>
        <li><a href="/moowgly/become-host_media?point=4">media</a></li>
        <li><a href="/moowgly/become-host_wishes?point=5">wishes</a></li>
        <li><a href="/moowgly/become-host_certificates?point=6">certificates</a></li>
        <li><a href="/moowgly/become-host_price?point=7">price</a></li>
        <li><a href="/moowgly/become-host_summary?point=8">summary</a></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Dashboard</li>
        <li><a href="/moowgly/dashboard_dashboard">dashboard</a></li>
        <li><a href="/moowgly/dashboard_messages_messages">messages</a></li>
        <li><a href="/moowgly/dashboard_messages_conversation">conversation</a></li>
        <li><a href="/moowgly/dashboard_profile_profile">profile</a></li>
        <li><a href="/moowgly/page/dashboard_bookings_bookings">bookings</a></li>
        <li><a href="/moowgly/page/dashboard_reviews_reviews">reviews</a></li>
        <li><a href="/moowgly/page/dashboard_offers_offers">activities</a></li>
        <li><a href="/moowgly/page/dashboard_offers_a-offer">activity</a></li>
        <li><a href="/moowgly/page/dashboard_offers_create-offer">create activity</a></li>

        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Guest</li>
        <li><a href="/moowgly/guest_dashboard">dashboard</a></li>
        <li><a href="/moowgly/guest_messages_messages">messages</a></li>
        <li><a href="/moowgly/guest_messages_conversation">conversation</a></li>
        <li><a href="/moowgly/guest_bookings_bookings">bookings</a></li>
        <li><a href="/moowgly/guest_reviews_reviews">reviews</a></li>
        <li><a href="/moowgly/guest_profile_profile">profile</a></li>
        <li><a href="/moowgly/guest_profile_kids">profile-kids</a></li>
        <li class="dropdown-header">Host card</li>
        <li><a href="/moowgly/host-card_host-card">Host card</a></li>
        <li><a href="/moowgly/page/host-card_host-card-activity">Host card activity</a></li>
        <li class="dropdown-header">Guest card</li>
        <li><a href="/moowgly/guest-card_guest-card">Guest card</a></li>
    </ul>
</div>